<tr id="table__footer">
  <td>
    <table>
      <tr class="table__footer--content">
        <td align="left" style="vertical-align: top;">
          <table class="table__footer--contact">
            <tr>
              <td class="footer__contact--heading">Atendimento</td>
            </tr>
            <tr>
              <td class="footer__contact--email">Email: contact@foodfy.com<br />
            </tr>
          </table>
        </td>

        <td align="right" style="vertical-align: top;">
          <table class="table__footer--contact">
            <tr>
              <td class="footer__contact--heading">Redes sociais</td>
            </tr>

            <tr align="center">
              <td class="footer__contact--social">
                <a href="#" target="_blank">
                  <img
                    src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAUCAMAAACDMFxkAAAAJ1BMVEUoKCgoKChHcEwoKCgoKCgpKSkoKCgpKSkoKCgpKSkpKSknJycoKCj9pnzMAAAADHRSTlMggABg3++/cJ+QUJCmPQNWAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAQUlEQVQI16XMORLAMAhDUSnYOAv3P29EYdNkxkV+wys04FDwHtGQElTyjEWdNsxEiMzdN8lLdNIQs6c4ivf+2W++MnEE1he0FCsAAAAASUVORK5CYII="
                    alt="Cantão icon Facebook">
                </a>
                <a href="#" target="_blank">
                  <img
                    src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAMAAAC6V+0/AAAAQlBMVEUoKCgnJycoKCgqKiopKSkgICAoKCgoKChHcEwoKCgoKCgnJycpKSkpKSknJycpKSkpKSknJycnJycpKSklJSUoKCgWabeSAAAAFXRSTlPfz38w7xCAvwAgYK+PH7Cvz5BwkDAQ+zOpAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAuklEQVQY01WQWXIEMQhDZTdm6Zns0f2vGoyddIcfqFe2EIL76AbuEjvDHX4kAZrNwpy/HQF+DP+rUGLgpF7IDx1fVBhjv5m9UQcNgkJdUq37J8KRygWN8mZCm3OiGjpbLotW+m1DSAkPkfpVMNY/9wdfbvB1QbtBFyn/UVYmfM+ubCk61qIJfy3Z47KEZV4zClkH5z3GcTvTywqUT/9XnWfmxB4XGk9mmjvkyrhVyEcm73FmFLtgmit+ANIEDllZrkBKAAAAAElFTkSuQmCC"
                    alt="Cantão icon Instagram">
                </a>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>

    <table class="table__footer--bottom">
      <tr align="center">
        <td class="table__footer--bottom-copy">
          &copy; 2021 Equipe <strong>Foodfy</strong>
        </td>
      </tr>
    </table>
  </td>
</tr>
