<tr>
  <td>
    <table align="center" id="table__main">
      <tr>
        <td class="table__main--title">Código de acesso</td>
      </tr>

      <tr>
        <td class="table__main--content">
          Boas-vindas, <strong>{{ user }}</strong>!
          <br>
          <br>
          <span>Seu código é:</span>
        </td>
      </tr>

      <tr>
        <td class="table__main--key" align="center">
          <div>{{ password }}</div>
        </td>
      </tr>
    </table>
  </td>
</tr>
