<tr>
  <td>
    <table align="center" id="table__main">
      <tr>
        <td class="table__main--title">Recuperação de senha</td>
      </tr>

      <tr>
        <td class="table__main--content">
          Olá, <strong>{{ user }}</strong>!
          <br>
          <br>
          Para continuar clique no botão abaixo.
          <br>
          <span>Se não foi você que fez essa solicitação, por favor desconsidere esse e-mail.</span>
        </td>
      </tr>

      <tr>
        <td class="table__main--password" align="center">
          <div>
            <a href="http://localhost:3000/reset-password?token={{token}}" target="_blank">
              Criar nova senha
            </a>
          </div>
        </td>
      </tr>
    </table>
  </td>
</tr>
